/* overriding ant design stylesheets */

.ant-layout-header,
.ant-layout-sider {
  background-color: var(--color-brand) !important;
}

.ant-menu {
  background-color: transparent !important;
}

.ant-menu,
.ant-menu * {
  color: white !important;
}

.ant-menu-item-selected {
  background-color: var(--color-brand-lighter) !important;
}

.ant-divider {
  border-color: var(--color-border-light);
}

.ant-form-rtl .ant-form-item-label {
  text-align: right !important;
}
